{:deps true
 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "/js"
                :build-hooks [(shadow-cljs-hash-assets-hook/hash-assets! {:source-root "public"
                                                                          :target-root "../docs/replicant"
                                                                          :index "index.html"
                                                                          :files ["css/site.css" "js/app.js"]
                                                                          :release-mode-only? true})]
                :modules {:app {:init-fn init/init!}}
                :devtools {:after-load init/init!}}
          :test {:target :node-test
                 :output-to "out/node-tests.js"}
          :browser-test {:target :browser-test
                         :test-dir "out/test"}}
 :dev-http {3000 "public"
            3001 "out/test"}}
